<footer th:fragment = "footer">
    <div class = "footer-container">
        <div class = "footer-links"><a href = "/">Home</a> <a href = "/">Liên hệ</a>
            <a href = "/">Chính sách bảo mật</a> <a href = "/about-us">Về chúng tôi</a></div>
        <div class = "footer-social"><a href = "https://facebook.com" target = "_blank">Facebook</a>
            <a href = "https://twitter.com" target = "_blank">Twitter</a>
            <a href = "https://instagram.com" target = "_blank">Instagram</a></div>
        <div class = "footer-copy"><p>© OOP16. All rights reserved.</div>
    </div>
</footer>