<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Thanh toán</title>
        <link rel = "stylesheet" th:href = "@{/css/bill.css}">
    </head>
    <body>
        <section layout:fragment = "content">
            <br><br>
            <h1 class = "text-center">Đặt vé thành công!</h1><br>
            <div class = "text-center"><h1>Đã đặt: [[${bill.tickets.size()}]] ghế.</h1>
                <h2>Tổng tiền: [[${bill.totalPrice}]].000 VNĐ</h2>
                <h2>Thời gian đặt: [[${bill.dateCreated}]]</h2><br>
                <div class = "container">
                    <table class = "booking-table">
                        <thead>
                        <tr>
                            <th class = "booking-header">Tên phim
                            <th class = "booking-header">Số thứ tự
                            <th class = "booking-header">Giờ chiếu
                            <th class = "booking-header">Ngày chiếu
                        <tr th:each = "ticket : ${bill.tickets}">
                            <td class = "booking-cell" th:text = "${ticket.movieTitle}">
                            <td class = "booking-cell" th:text = "${ticket.seatLabel}">
                            <td class = "booking-cell" th:text = "${ticket.time}">
                            <td class = "booking-cell" th:text = "${ticket.date}">
                    </table>
                </div>
                <br th:if = "${!bill.foods.isEmpty()}">
                <div class = "container" th:if = "${!bill.foods.isEmpty()}">
                    <table class = "booking-table" style = display:inline-table>
                        <thead>
                        <tr>
                            <th class = "booking-header">Tên đồ ăn
                            <th class = "booking-header">Số lượng
                        <tr th:each = "food : ${bill.foods}">
                            <td class = "booking-cell" th:text = "${food.food_name}">
                            <td class = "booking-cell" th:text = "${food.quantity}">
                    </table>
                </div>
            </div>
            <br><img alt = "QR Code" class = "center-img" decoding = "async" fetchpriority = "high" th:src = "@{/images/qr.webp}"><br>
            <div class = "text-center button-container">
                <a th:href = "@{/}">
                    <button class = "btn btn-primary" type = "submit">Quay về trang chủ</button>
                </a>
            </div>
            <br><br>
        </section>
    </body>
</html>