<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>OOP16 - Đặt Vé Xem Phim Mọi Lúc, Mọi Nơi</title>
        <link href = "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel = "stylesheet"/>
        <link rel = "stylesheet" th:href = "@{/css/movie-styles.css}">
        <link rel = "stylesheet" th:href = "@{/css/home.css}">
    </head>
    <body>
        <section layout:fragment = "content">
            <div class = "swiper-container">
                <div class = "swiper-wrapper">
                    <div class = "swiper-slide" th:each = "movie : ${movieList}" th:if = "${!movie.bannerUrl.isEmpty()}">
                        <div style = width:100%;aspect-ratio:2>
                            <form style = text-decoration:none th:action = "@{/details}">
                                <input name = "title" th:value = "${movie.title}" type = "hidden">
                                <button class = "poster-button" type = "submit">
                                    <img alt = "Movie Banner" decoding = "async" fetchpriority = "high" style = width:92%;height:auto th:attr = "srcset = |@{'https://wsrv.nl/?url=' + ${movie.bannerUrl} + '&output=webp' + '&w=800'} 800w, @{'https://wsrv.nl/?url=' + ${movie.bannerUrl} + '&output=webp' + '&w=1200'} 1200w, @{'https://wsrv.nl/?url=' + ${movie.bannerUrl} + '&output=webp' + '&w=1600'} 1600w, @{'https://wsrv.nl/?url=' + ${movie.bannerUrl} + '&output=webp'} 1900w|" th:src = "${'https://wsrv.nl/?url=' + movie.bannerUrl + '&output=webp'}">
                                </button>
                            </form>
                        </div>
                        <div class = "swiper-button-next"></div>
                        <div class = "swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <br>
            <div th:replace = "~{fragments/now-showing-movie-list :: now-showing-movie-list}"></div>
            <br>
            <div th:replace = "~{fragments/coming-soon-movie-list :: coming-soon-movie-list}"></div>
            <br>
            <script src = "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".swiper-container", {
                    slidesPerView: 1,
                    loop: !0,
                    effect: "fade",
                    fadeEffect: {crossFade: !0},
                    navigation: {nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev"},
                    autoplay: {delay: 3e3, disableOnInteraction: !1}
                })
            </script>
        </section>
    </body>
</html>