<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Nhập OTP</title>
    </head>
    <body>
        <section layout:fragment = "content">
            <section>
                <div class = "container-fluid h-custom">
                    <div class = "align-items-center d-flex h-100 justify-content-center row">
                        <div class = "text-center col-lg-6 col-md-9 col-xl-5">
                            <img alt = "Login Image" class = "img-fluid" decoding = "async" fetchpriority = "high" height = "600px" th:src = "@{/images/auth-image.webp}" width = "600px">
                        </div>
                        <div class = "col-lg-6 col-md-8 col-xl-4 offset-xl-1">
                            <form th:action = "@{/change-password}">
                                <input name = "email" th:value = "${email}" type = "hidden">
                                <div class = "text-center"><h1>Nhập OTP đã được gửi về Email của bạn</h1><br></div>
                                <div class = "alert alert-error" style = color:red th:text = "${error}"></div>
                                <div class = "form-outline mb-4" data-mdb-input-init>
                                    <input class = "form-control form-control-lg" name = "otp" placeholder = "Nhập OTP" required>
                                </div>
                                <div class = "text-center mb-5 mt-4 pt-2 text-lg-start">
                                    <button class = "btn btn-lg btn-primary" data-mdb-button-init data-mdb-ripple-init style = padding-left:2.5rem;padding-right:2.5rem type = "submit">Đổi mật khẩu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>