<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Đăng ký</title>
    </head>
    <body>
        <section layout:fragment = "content">
            <section>
                <div class = "container-fluid h-custom">
                    <div class = "align-items-center d-flex h-100 justify-content-center row">
                        <div class = "text-center col-lg-6 col-md-9 col-xl-5">
                            <img alt = "Login Image" class = "img-fluid" decoding = "async" fetchpriority = "high" height = "600px" th:src = "@{/images/auth-image.webp}" width = "600px">
                        </div>
                        <div class = "col-lg-6 col-md-8 col-xl-4 offset-xl-1">
                            <div class = "text-center"><h1>Đăng ký</h1><br></div>
                            <div class = "alert alert-dismissible alert-success fade show" role = "alert" th:if = "${success}">
                                <strong>Tạo tài khoản thành công!</strong>
                                <a class = "ms-2" href = "/login">Đăng nhập</a>
                                <button aria-label = "Close" class = "btn-close" data-bs-dismiss = "alert" type = "button"></button>
                            </div>
                            <form method = "post" th:object = "${registerDTO}">
                                <input th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}" type = "hidden">
                                <div class = "form-outline mb-4" data-mdb-input-init>
                                    <input class = "form-control" placeholder = "Nhập email" th:field = "${registerDTO.email}">
                                    <p th:errorclass = "text-danger" th:errors = "${registerDTO.email}" th:if = "${#fields.hasErrors('email')}">
                                </div>
                                <div class = "form-outline mb-4" data-mdb-input-init>
                                    <input class = "form-control" placeholder = "Nhập tên người dùng" th:field = "${registerDTO.username}">
                                    <p th:errorclass = "text-danger" th:errors = "${registerDTO.username}" th:if = "${#fields.hasErrors('username')}">
                                </div>
                                <div class = "form-outline mb-4" data-mdb-input-init>
                                    <input class = "form-control" placeholder = "Nhập mật khẩu" th:field = "${registerDTO.password}" type = "password">
                                    <p th:errorclass = "text-danger" th:errors = "${registerDTO.password}" th:if = "${#fields.hasErrors('password')}">
                                </div>
                                <div class = "form-outline mb-4" data-mdb-input-init>
                                    <input class = "form-control" placeholder = "Xác nhận lại mật khẩu" th:field = "${registerDTO.confirmPassword}" type = "password">
                                    <p th:errorclass = "text-danger" th:errors = "${registerDTO.confirmPassword}" th:if = "${#fields.hasErrors('confirmPassword')}">
                                </div>
                                <div class = "text-center mt-4 pt-2 text-lg-start">
                                    <button class = "btn btn-lg btn-primary" data-mdb-button-init data-mdb-ripple-init style = padding-left:2.5rem;padding-right:2.5rem type = "submit">Đăng ký</button>
                                    <p class = "fw-bold mb-5 mt-2 pt-1 small">Đã có tài khoản?
                                        <a class = "link-danger" href = "/login">Đăng nhập</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>