<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Hướng dẫn sử dụng OOP16</title>
    </head>
    <body>
        <section layout:fragment = "content">
            <section class = "container mt-5"><h1>Hướng dẫn sử dụng OOP16:</h1><br>
                <h3>Xem hướng dẫn đặt vé xem phim tại
                    <a href = "https://drive.google.com/file/d/1EsQnWtKfxedZvp3XA7JEjQ86u-qRQdXJ/view" target = "_blank">đây</a>.
                </h3>
                <h3>Xem hướng dẫn đăng nhập, đăng ký tại
                    <a href = "https://drive.google.com/file/d/1IaCUB7sDbHyjFa1zNvlAT0e4sU9vDe-A/view" target = "_blank">đây</a>.
                </h3>
                <h3>Xem hướng dẫn đổi mật khẩu tại
                    <a href = "https://drive.google.com/file/d/1fcyzqv71a3CasnI5AKEUC1IT0lPvqWTQ/view" target = "_blank">đây</a>.
                </h3>
                <h3>Xem hướng dẫn khi quên mật khẩu tại
                    <a href = "https://drive.google.com/file/d/1saG5tBmsPT9qws6XjaHV6RzIvsqazBBq/view" target = "_blank">đây</a>.
                </h3><br>
                <h1>Chúc quý khách có trải nghiệm tốt nhất tại OOP16!</h1>
            </section>
        </section>
    </body>
</html>